{% extends "layout.html" %}

{% block header %}

<meta name="description" content="{{post.summary}}" />
<meta property="og:title" content="{{post.title}} | Scratch Data" />
<meta property="og:description" content="{{post.summary}}" />
<meta property="og:url" content="{{url_for('blog_blueprint.blog_post', post=post.slug, _external=True)}}" />


<meta property="og:image" content="{{url_for('blog_blueprint.blog_hero', post=post.slug, _external=True)}}" />
<meta property="og:image:alt" content="{{post.title}} | Scratch Data" />
<link rel="canonical" href="{{url_for('blog_blueprint.blog_post', post=post.slug, _external=True)}}" />
<meta property="og:site_name" content="Scratch Data" />
<meta property="og:type" content="website" />

{#
<meta name="robots" content="index,follow" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@knocklabs" />
<meta name="twitter:creator" content="@knocklabs" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta charSet="utf-8" />
<meta name="theme-color" content="#000" />
<meta name="msapplication-TileColor" content="#000000" />
<meta name="msapplication-config" content="/favicon/browserconfig.xml" />
<link rel="icon" href="/favicon/favicon-dark.svg" />
<link rel="mask-icon" href="/favicon/favicon.svg" color="#000" />
<link rel="preload" href="/fonts/open-sauce/OpenSauceOne-Bold.woff" as="woff" />
<link rel="preload" href="/fonts/open-sauce/OpenSauceOne-Bold.woff2" as="woff2" />
<link rel="preload" href="/fonts/open-sauce/OpenSauceOne-Medium.woff" as="woff" />
<link rel="preload" href="/fonts/open-sauce/OpenSauceOne-Medium.woff2" as="woff2" />
<link href="https://unpkg.com/prismjs@0.0.1/themes/prism-tomorrow.css" rel="stylesheet" />
<meta name="next-head-count" content="29" />
<link data-next-font="" rel="preconnect" href="/" crossorigin="anonymous" />
#}

{% endblock %}


{% block content %}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-dark.min.css"> -->
<link rel="stylesheet" href="/static/atom-one-dark.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script> -->


<script>hljs.highlightAll();</script>


<div class="bg-white px-6 py-32 lg:px-8">
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">

    <div class="prose">
      <h1>{{post.title}}</h1>
    {{post.html |safe }}
    </div>

  </div>
</div>


{% endblock %}