{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block content %}

</head>

<body>

                  <section class="bg-white ark:bg-gray-900">
                    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

                      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
                        <!-- <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ark:text-white">Our Blog</h2> -->
                        <!-- <p class="font-light text-gray-500 sm:text-xl ark:text-gray-400">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p> -->
                      </div>
                      <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">

                        {% for post in posts %}
                        <article
                          class="p-4 bg-white rounded-lg border border-gray-200 shadow-md ark:bg-gray-800 ark:border-gray-700">
                          <a href="/blog/{{post.slug}}">
                            {%if post.hero%}
                            <img class="mb-5 rounded-lg" src="/blog/{{post.slug}}/{{post.hero}}">
                              {% else %}
                            <img class="mb-5 rounded-lg" src="/blog/{{post.slug}}/hero.png"
                            {%endif%}
                          </a>

                          {% for tag in post.tags %}
                          <span
                            class="bg-gray-100 text-gray-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded ark:bg-gray-200 ark:text-purple-900">{{tag}}</span>
                          {% endfor %}
                          <h2 class="my-2 text-2xl font-bold tracking-tight text-gray-900 ark:text-white">
                            <a href="/blog/{{post.slug}}">{{post.title}}</a>
                          </h2>
                          <p class="mb-4 font-light text-gray-500 ark:text-gray-400">
                            {{post.summary}}
                          </p>
                          <div class="flex items-center space-x-4">
                            <!-- <img class="w-10 h-10 rounded-full" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png" alt="Jese Leos avatar"> -->
                            <div class="font-medium ark:text-white">
                              <!-- <div>Jese Leos</div> -->
                              <div class="text-sm font-normal text-gray-500 ark:text-gray-400">{{post.date}}</div>
                            </div>
                          </div>
                        </article>

                        {% endfor %}
                      </div>
                    </div>
                  </section>


                  {% endblock %}