{% extends "layout.html" %}

{% block content %}

<section class="bg-white">
    <div class="px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:pt-20 lg:pb-12">
      <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-gray-900 sm:text-4xl">
            Customers
        </h2>
        <p class="mt-4 text-base font-normal text-gray-500 sm:text-xl">
          How is ScratchDB being used today?
        </p>
      </div>

    </div>
    <div class="bg-gray-100 mb-16 w-full ">
      <div
        class="w-fit py-5 grid grid-cols-1 text-center gap-y-8 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 sm:gap-8 mx-auto">
        <div class="shadow w-72 p-10 mx-auto bg-white">
          <div>
            <img src="/blog/embeddables/embeddables.png">
            <!-- <p class="font-bold text-3xl text-blue-600">CustomerLogo</p> -->
          </div>
          <div class="mt-5">
            <a href="/blog/embeddables/" title="Embeddables"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
              role="button">
              See how
            </a>
          </div>
        </div>
        <!-- <div class="shadow w-72 p-10 px-0 mx-auto bg-white">
          <div>
            <p class="font-bold text-3xl text-black italic">AnotherLogo</p>
          </div>
          <div class="mt-5">
            <a href="#" title=""
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
              role="button">
              See how
            </a>
          </div>
        </div> -->
        <!-- <div class="shadow w-72 p-10 px-0 mx-auto bg-white">
          <div>
            <p class="font-bold text-3xl text-green-600">AThirdLogo</p>
          </div>
          <div class="mt-5">
            <a href="#" title=""
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
              role="button">
              See how
            </a>
          </div>
        </div> -->
        <!-- <div class="shadow w-72 p-10 px-0 mx-auto bg-white">
          <div>
            <p class="font-bold text-3xl text-pink-600">AFourthLogo</p>
          </div>
          <div class="mt-5">
            <a href="#" title=""
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200"
              role="button">
              See how
            </a>
          </div>
        </div> -->
      </div>
  </section>

{% endblock %}