{% extends "layout.html" %}

{% block content %}

    <section class="bg-white">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 ">
        <div class="mx-auto max-w-screen-md text-center">
          <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl py-3  tracking-tight">
            Serverless Analytics.</h1>
          <p class="mb-14 font-light text-gray-500 md:text-lg">Build analytics with zero infrastructure.<br>Automatically
            create and optimize tables from JSON.</p>
          <form action="/signup" method="post" class="mx-auto max-w-screen-sm">
            <div class="flex items-center mb-3">
              <div class="relative mr-3 w-full">
                <label for="member_email" class="hidden mb-2 text-sm font-medium text-gray-900">Email
                  address</label>
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                  <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                    <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                  </svg>
                </div>
                <input
                  class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="Enter your email" type="email" name="email" id="member_email" required="">
              </div>
              <div>
                <input type="submit" value="Join Beta"
                  class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"
                  name="member_submit" id="member_submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section
      class="bg-gray-100 gap-y-4 py-10 flex justify-center sm:flex-row sm:gap-3 md:gap-5 lg:gap-8 flex-col mx-auto w-full justify-center items-center">
      <div class="w-80 h-52 sm:h-52 max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow ">
        <a href="/blog">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Recipes</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">Quickstart guides for using ScratchDB to do common
          tasks: log analysis, customer analytics, integrations</p>
        <a href="/blog"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Learn More
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
      <!-- <div class="w-80 h-42 sm:h-52 max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow ">
        <a href="./case-studies.html">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Case Studies</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700">See how users are using ScratchDB today</p>
        <a href="./case-studies.html"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
          Learn More
          <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div> -->
    </section>
    <section class="bg-white max-w-screen-xl mx-auto">
      <div class="py-8 flex-col sm:py-16 lg:px-6">
        <div class="mx-10 mb-8 lg:mb-16 text-center">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900">Capture and analyze data
            now.</h2>
          <p class="font-light text-gray-500 max-w-screen-sm sm:w-full sm:max-w-screen-xl text-center text-md sm:text-xl">
            ScratchDB lets you
            stream data
            without a
            "CREATE
            TABLE".</p>
        </div>
        <div class="space-y-8 flex-col md:flex md:flex-row md:space-y-0 gap-12 mx-auto p-5">
          <!--Send your JSON-->
          <div class="w-full mx-auto max-w-screen-sm shadow p-5 md:p-10">
            <h3 class="mb-2 text-xl font-bold text-gray-900">Send your JSON</h3>
            <ul role="list" class="my-6 space-y-4">
              <li class="flex space-x-2.5">
                <svg class="flex-shrink-0 w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="leading-tight text-gray-500">Ingest data with an API key</span>
              </li>
              <li class="flex space-x-2.5">
                <svg class="flex-shrink-0 w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="leading-tight text-gray-500">We automatically create and populate tables</span>
              </li>
            </ul>
          </div>
          <div class="w-full mx-auto max-w-screen-sm shadow p-5 md:p-10">
            <h3 class="mb-2 text-xl font-bold text-gray-900">Analytics Workloads with SQL</h3>
            <ul role="list" class="my-6 space-y-4">
              <li class="flex space-x-2.5">
                <svg class="flex-shrink-0 w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="leading-tight text-gray-500">Excute OLAP queries immediately</span>
              </li>
              <li class="flex space-x-2.5">
                <svg class="flex-shrink-0 w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="leading-tight text-gray-500">No need to provision server capacity</span>
              </li>
            </ul>
          </div>
          <div class="w-full mx-auto max-w-screen-sm shadow p-5 md:p-10">
            <h3 class="mb-2 text-xl font-bold text-gray-900">Open Source</h3>
            <ul role="list" class="my-6 space-y-4">
              <li class="flex space-x-2.5">
                <svg class="flex-shrink-0 w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <a href="https://github.com/scratchdata/ScratchDB"
                  class="leading-tight text-blue-500 cursor-pointer">Check out our GitHub</a>
              </li>
              <li class="flex space-x-2.5">
                <svg class="flex-shrink-0 w-5 h-5 text-blue-600" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="leading-tight text-gray-500">ClickHouse Under the hood</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="flex-col max-w-screen-lg mx-auto mb-12 sm:mb-0">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 text-center">Pricing</h2>
      <h5 class="mb-4 text-xl font-medium text-gray-500 text-center">ScratchDB has predictable
        pricing.<br>Just pay for what you use: no credits or vCPUs.</h5>
      <div
        class="justify-center flex w-fit max-w-screen-lg flex-col md:flex-row gap-x-5 my-0 sm:mb-8 items-center mx-auto p-5">
        <div class="w-full mx-auto max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 my-2">
          <div class="flex items-baseline text-gray-900">
            <span class="text-3xl font-semibold">$</span>
            <span class="text-3xl font-extrabold tracking-tight md:text-5xl">0.30</span>
            <span class="ml-1 text-xl font-normal text-gray-500">/GB</span>
          </div>
          <h5 class="mb-4 text-xl font-medium text-gray-500 pt-5">For data stored, after compression, in ScratchDB</h5>
        </div>
        <div class="w-full mx-auto max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 my-2">
          <div class="flex items-baseline text-gray-900">
            <span class="text-3xl font-semibold">$</span>
            <span class="text-3xl font-extrabold tracking-tight sm:text-3xl md:text-5xl">0.25</span>
            <span class="ml-1 text-xl font-normal text-gray-500">/hour</span>
          </div>
          <h5 class="mb-4 text-xl font-medium text-gray-500 pt-5">For query duration, billed to the second</h5>
        </div>
      </div>
    </section>
    <section class="bg-white">
      <div class="px-4 py-8 mx-auto text-center lg:py-16 lg:px-12 bg-blue-600 w-full shadow-xl ">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Get
          Access</h2>
        <p class="mb-8 font-light text-white md:text-lg lg:text-xl sm:px-16 xl:px-48 ">Our cloud hosted beta is open!
          Let us know if you're interested or want to chat.</p>
        <div class="flex w-fit mx-auto">
          <form method="post" action="/signup" class="flex w-full max-w-sm lg:ml-auto">
            <div class="relative w-full">
              <label for="email" class="hidden mb-2 text-sm font-medium text-gray-900">Email
                address</label>
              <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                </svg>
              </div>
              <input type="email" id="email" name="email"
                class="block p-3 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-l-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Your email" required>
            </div>
            <button type="submit"
              class="py-3 px-5 w-32 text-sm text-center text-white rounded-r-lg border cursor-pointer bg-blue-600 border-white-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300">Join
              Beta</button>
          </form>
        </div>
    </section>

{% endblock %}